body{
    background-color: bisque;
    text-align: center;
}
h1{
    background-color: blueviolet;
    color: pink;
}
h3{
    background-color: blue;
    color: aquamarine;
}
p{
    background-color: azure;

}